.pesquisa-rapida-1 .tipo-destaque
{
    height: 227px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.pesquisa-rapida-1 .busca-rapida
{
    height: 227px;
    line-height: 227px;
    text-align: center;
}

.pesquisa-rapida-1 a:hover span
{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.pesquisa-rapida-1 a:hover, .pesquisa-rapida-1 a:hover span
{
    -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.pesquisa-rapida-1 .busca-rapida span
{
    position: absolute;
    font-style: italic;
    top: 0;
    text-align: center;
    left: 15px;
    right: 15px;
    font-size: 1.8rem;
}

.form-pesquisa-avancada-1 .form-filtro-2 .titulo-pesquisa > hr
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    width: 103px;
    margin-left: 2px;
}

.form-pesquisa-avancada-1 .form-filtro-2 label
{
    font-weight: normal!important;
}

.form-pesquisa-avancada-1 .form-filtro-2 .btn-pesquisar
{
    width: 100%;
    height: 39px;
    font-size: 18px;
    border: 0;
    font-style: normal;
}

.pesquisa-rapida-1:not(:last-child)
{
    padding-right: 15px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .pesquisa-rapida-1 .busca-rapida
    {
        margin-bottom: 7px;
    }

    .pesquisa-rapida-1 .tipo-destaque span
    {
        font-size: 1.8rem;
    }
}

/*Cores*/


.pesquisa-rapida-1 .busca-rapida
{
    background-color: rgba(0, 0, 0, 0.30);
    color: white;
}

.pesquisa-rapida-1 .busca-rapida .background
{
    background-color: rgba(0, 0, 0, 0.30);
    height: 100%;
}

.pesquisa-rapida-1 .busca-rapida:hover .background
{
    background-color: transparent;

    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}