<table width="650" style="background-color: transparent; border-bottom: 1px solid rgba(0, 0, 0, 0.15);">
    <td width="260">
        <a href="$link$" target="_blank" style="float: left; text-decoration:none;">
            <img src="$src_img$"  width="260" height="194px" style="margin: 5px;">
        </a>
    </td>
    <td width="375">
        <div style="margin-left: 15px; float: right;">
            <h3 style="color: #0f4174;;"><a href="$link$" target="_blank" style="color: #0f4174; text-decoration:none;">$tipo$</a></h3>
            <small>Código: $codigo$</small>
            <p style="font-size:12px; padding-right: 7px;">$imovel_desc$</p>
            <h3 style="color: #0f4174;">$valor$</h3>
        </div>
    </td>
</table>