<table width="90%" border="0" cellspacing="0" cellpadding="10" align="center" style="border: solid 1px #fff;">
    <tbody>
    <td width="60%" style="font-size: 12px;">
        <p><strong>Nome:</strong> $cliente$</p>
        <p><strong>Email:</strong> $email$</p>
        <p><strong>Telefone:</strong> $telefone$</p>
    </td>
    <td width="40%" style="font-size: 12px;">
        <p><strong>Obs.:</strong> $obs$</p>
    </td>
    </tbody>
</table>
<div style="display: inline-block;">
    $imoveis$
</div>