/* ----- menu-4 ----- */
.menu-4,
.menu-4 .menu-rapido
{
    z-index: 2;
}

.menu-4 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-4 .input-group
{
    height: 100%!important;
}

.menu-4 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}

.menu-4 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-4 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}

.menu-4 .menu-items a,
.menu-4 .menu-items a:hover,
.menu-4 .menu-items a:active,
.menu-4 .menu-items a:focus,
.menu-4 .menu-rapido .menu-items a,
.menu-4 .menu-rapido .menu-items a:hover,
.menu-4 .menu-rapido .menu-items a:active,
.menu-4 .menu-rapido .menu-items a:focus
{
    color: white!important;
    background-color: transparent;
    text-decoration: none;
}


.menu-4  .input-group
{
    background-color: #024c4b!important;
}

.menu-4 .input-group-btn button
{
    color: white;
}
.menu-4 .menu
{
    background-color: #008280;
}

.menu-4 .menu-rapido
{
    background-color: #1c3b69;
}

.menu-4 .menu-rapido .menu-items a
{
    padding: 10px;
    font-size: 12px;
}

.menu-4 .menu-rapido .menu-items ul
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-4 .menu-rapido .menu-items li
{
    display: inline;
}

.menu-4 .form-control::-webkit-input-placeholder {color: white;}
.menu-4 .form-control:-moz-placeholder {color: white;}
.menu-4 .form-control::-moz-placeholder {color: white;}
.menu-4 .form-control:-ms-input-placeholder {color: white;}

.menu-4 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}

.menu-4 .menu-items ul li a img.img-imobiliaria
{
    height: 45px;
    margin-right: 15px;
}

.menu-4 .menu-items ul li a.imobiliaria-link-logo
{
    padding: 0px;
}

/* ----- lista-condominios-1 ----- */ .lista-condominios-1 .condominios
{
    margin-top: 15px;
}
.lista-condominios-1 .condominios .titulo
{
    font-size: 3rem;
    padding-bottom: 6px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 12px;
    margin: 0px;
}

.lista-condominios-1 .filtro-tipo
{
    text-align: right;
    font-style: italic;
    margin-top: 10px;
}

.lista-condominios-1 .filtro-tipo label
{
    font-size: 1.7rem;
    font-weight: normal;
    margin-right: 4px;
}


.lista-condominios-1 .filtro-tipo .bootstrap-select>.dropdown-toggle.bs-placeholder,
.lista-condominios-1 .filtro-tipo .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.lista-condominios-1 .filtro-tipo .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.lista-condominios-1 .filtro-tipo .bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.lista-condominios-1 .filtro-tipo .dropdown-toggle
{
    border-radius: 0!important;
    font-size: 1.2rem;
}


.lista-condominios-1 .condominio
{
    margin-top: 20px;
}

.lista-condominios-1 .condominio
{
    font-style: italic;
    margin-bottom: 4px;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.lista-condominios-1 .condominio:hover
{
    border: 1px solid rgba(0, 129, 129, 0.34);
}

.lista-condominios-1 .condominio .img-condominio .img
{
    margin-bottom: 12px;
    height: 200px;
    background-size: cover;
    background-position: center
}

.lista-condominios-1 .condominio .nome-condominio
{
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
}

.lista-condominios-1 .condominio .localizacao-condominio
{
    color: #3e3e3e;
    font-style: normal;
    font-size: 1.2rem;
}

@media(min-width:320px) and (max-width: 768px)
{
    .lista-condominios-1 .condominios .titulo
    {
        font-size: 2.5rem;
        margin-top: 10px;
    }
}

/* ----- rodape-2 ----- */ .footer-2
{
    margin-bottom: 8px;
}

.footer-2
{
    margin-top: 40px;
}

.footer-2 .container
{
    padding-top: 50px;
}

.footer-2 .logo-simples
{
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-2 .dados-contato p,
.footer-2 .endereco p
{
    margin-top: 10px;
    font-size: 1.25rem;
}

.footer-2 .facebook
{
    bottom: 25px;
    padding-left: 35px;
}

.footer-2 .dados-contato hr,
.footer-2 .endereco hr
{
    width: 85px;
    margin-right: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-2-direitos-simples span
{
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 11px;
}

.footer-2-direitos-simples span > a > img
{
    height: 15px;
    margin-right: 20px
}

@media(max-width: 768px)
{
    .footer-2
    {
        background: #00837f;
        padding-bottom: 30px;
    }

    .footer-2 .container
    {
        padding-top: 20px;
    }

    .footer-2 img
    {
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-bottom: 10px;
        height: 50px;
    }
}

.footer-2
{
    background: linear-gradient(90deg, #00837f 64%, #9cdcda 10%);
    color: white;
}
