/* ----- menu-4 ----- */
.menu-4,
.menu-4 .menu-rapido
{
    z-index: 2;
}

.menu-4 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-4 .input-group
{
    height: 100%!important;
}

.menu-4 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}

.menu-4 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-4 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}

.menu-4 .menu-items a,
.menu-4 .menu-items a:hover,
.menu-4 .menu-items a:active,
.menu-4 .menu-items a:focus,
.menu-4 .menu-rapido .menu-items a,
.menu-4 .menu-rapido .menu-items a:hover,
.menu-4 .menu-rapido .menu-items a:active,
.menu-4 .menu-rapido .menu-items a:focus
{
    color: white!important;
    background-color: transparent;
    text-decoration: none;
}


.menu-4  .input-group
{
    background-color: #024c4b!important;
}

.menu-4 .input-group-btn button
{
    color: white;
}
.menu-4 .menu
{
    background-color: #008280;
}

.menu-4 .menu-rapido
{
    background-color: #1c3b69;
}

.menu-4 .menu-rapido .menu-items a
{
    padding: 10px;
    font-size: 12px;
}

.menu-4 .menu-rapido .menu-items ul
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-4 .menu-rapido .menu-items li
{
    display: inline;
}

.menu-4 .form-control::-webkit-input-placeholder {color: white;}
.menu-4 .form-control:-moz-placeholder {color: white;}
.menu-4 .form-control::-moz-placeholder {color: white;}
.menu-4 .form-control:-ms-input-placeholder {color: white;}

.menu-4 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}

.menu-4 .menu-items ul li a img.img-imobiliaria
{
    height: 45px;
    margin-right: 15px;
}

.menu-4 .menu-items ul li a.imobiliaria-link-logo
{
    padding: 0px;
}

/* ----- mapa-1 ----- */ .mapa-1 > .mapa
                          {
                              height: 400px
                          }

.mapa-1
{
    padding: 0;
}/* ----- form-contato ----- */ .form-contato-1
                                {
                                    font-style: italic;
                                }

.form-contato-1 h3
{
    font-weight: bold;
}

.form-contato-1 p
{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

.form-contato-1 .form-contato .form-control,
.form-contato-1 .form-contato .bootstrap-select > .dropdown-toggle
{
    border-radius: 0!important;
}

.form-contato-1 .form-contato .btn-enviar
{
    border: 1px solid #c1c1c1;
    margin-top: 11px;
    float: right;
    margin-right: 13px;
    font-size: 1.3rem;
    padding: 4px;
    padding-left: 13px;
}

.form-contato-1 .form-contato .btn-enviar > i
{
    color: #a5a5a5;
    margin-left: 4px;
}/* ----- condominios-1 ----- */ .condominios-1 .titulo
                                 {
                                     font-size: 26px;
                                     font-weight: 100;
                                 }

.condominios-1 hr
{
    width: 80%;
    float: left;
}

.condominios-1
{
    margin-top: 51px;
}

.condominios-1 .logos-condominio .item
{
    height:200px;
}

.condominios-1 .imagem
{
    height: 200px;
    background-position: center;
    background-size: cover;
}

.condominios-1 .logos-condominio
{
    height:200px;
}


.condominios-1 .logos-condominio{
    margin-top: 60px;
    height: 1px;
}

.condominios-1 .logos-condominio .item img
{
    max-height: 130px;
    width: auto;
}

.condominios-1 .logos-condominio .item
{
    height: 130px;
}

.condominios-1 .logos-condominio .item
{
    padding: 10px 5px;
}

.condominios-1 .owl-carousel .owl-item img
{
    width: auto!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.condominios-1 .logos-condominio .item {
    max-height: 500px;
}

.condominios-1 .owl-carousel .owl-item img
{
    width: 185px!important;
}


@media(min-width:320px) and (max-width: 768px)
{
    .condominios-1 .col-md-9 hr
    {
        width: 204px;
    }

    .condominios-1 .owl-carousel .owl-stage-outer
    {
        width: 100% !important;
    }
}


/*Cores*/

.condominios-1 .titulo
{
    color: #007f83;
}

.condominios-1 hr
{
    border-top: 1px solid #636363;
}/* ----- rodape-2 ----- */ .footer-2
                            {
                                margin-bottom: 8px;
                            }

.footer-2
{
    margin-top: 40px;
}

.footer-2 .container
{
    padding-top: 50px;
}

.footer-2 .logo-simples
{
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-2 .dados-contato p,
.footer-2 .endereco p
{
    margin-top: 10px;
    font-size: 1.25rem;
}

.footer-2 .facebook
{
    bottom: 25px;
    padding-left: 35px;
}

.footer-2 .dados-contato hr,
.footer-2 .endereco hr
{
    width: 85px;
    margin-right: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-2-direitos-simples span
{
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 11px;
}

.footer-2-direitos-simples span > a > img
{
    height: 15px;
    margin-right: 20px
}

@media(max-width: 768px)
{
    .footer-2
    {
        background: #00837f;
        padding-bottom: 30px;
    }

    .footer-2 .container
    {
        padding-top: 20px;
    }

    .footer-2 img
    {
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-bottom: 10px;
        height: 50px;
    }
}

.footer-2
{
    background: linear-gradient(90deg, #00837f 64%, #9cdcda 10%);
    color: white;
}