/* ----- menu-4 ----- */
.menu-4,
.menu-4 .menu-rapido
{
    z-index: 2;
}

.menu-4 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-4 .input-group
{
    height: 100%!important;
}

.menu-4 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}

.menu-4 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-4 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}

.menu-4 .menu-items a,
.menu-4 .menu-items a:hover,
.menu-4 .menu-items a:active,
.menu-4 .menu-items a:focus,
.menu-4 .menu-rapido .menu-items a,
.menu-4 .menu-rapido .menu-items a:hover,
.menu-4 .menu-rapido .menu-items a:active,
.menu-4 .menu-rapido .menu-items a:focus
{
    color: white!important;
    background-color: transparent;
    text-decoration: none;
}


.menu-4  .input-group
{
    background-color: #024c4b!important;
}

.menu-4 .input-group-btn button
{
    color: white;
}
.menu-4 .menu
{
    background-color: #008280;
}

.menu-4 .menu-rapido
{
    background-color: #1c3b69;
}

.menu-4 .menu-rapido .menu-items a
{
    padding: 10px;
    font-size: 12px;
}

.menu-4 .menu-rapido .menu-items ul
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-4 .menu-rapido .menu-items li
{
    display: inline;
}

.menu-4 .form-control::-webkit-input-placeholder {color: white;}
.menu-4 .form-control:-moz-placeholder {color: white;}
.menu-4 .form-control::-moz-placeholder {color: white;}
.menu-4 .form-control:-ms-input-placeholder {color: white;}

.menu-4 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}

.menu-4 .menu-items ul li a img.img-imobiliaria
{
    height: 45px;
    margin-right: 15px;
}

.menu-4 .menu-items ul li a.imobiliaria-link-logo
{
    padding: 0px;
}

/* ----- detalhes-descricao-imovel-1 ----- */ .detalhes-imovel-1 .ribbon
{
    left: -5px;
}

.detalhes-imovel-1 .agendar-visita button
{
    height: 100%;
    font-size: 17px;
    margin-top: 26px;
    border-radius: 0px;
    padding: 11px;
    margin-top: 18px;
    padding-left: 21px;
    padding-right: 31px;
    height: 52px;
    width: 100%;
}

.detalhes-imovel-1 .infra-imovel .fa
{
    text-align: center;
    margin-right: 7px;
    font-size: 26px;
    padding: 8px;
}

.detalhes-imovel-1 .descricao-imovel .titulo-descicao
{
    font-weight: 600;
    font-family: sans-serif;
    font-size: 36px;
}

.detalhes-imovel-1 .descricao-imovel .valor-imovel span
{
    font-size: 35px;
    font-weight: bold;
}

.detalhes-imovel-1 .descricao-imovel .valor-imovel span small
{
    font-size: 16px;
    font-weight: 100;
    vertical-align: middle;
    font-style: italic;
}

.detalhes-imovel-1 .infra-imovel .fa span
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.detalhes-imovel-1 .tipo-imovel h3
{
    font-style: italic;
    font-weight: lighter;
    margin-top: 29px;
}

.detalhes-imovel-1 .tipo-imovel hr
{
    width: 341px;
    float: left;
    margin-top: 0!important;
    margin-bottom: 3px;
}

.detalhes-imovel-1
{
    margin-top: 80px;
}

.detalhes-imovel-1 .img-destaque
{
    margin-bottom: 10px;
}

.detalhes-imovel-1 .img-destaque img
{
    width: 100%;
}

.detalhes-imovel-1 .imagens-imovel  .img-previa .img
{
    background-size: cover;
    height: 130px;
    background-position: center;
}

.detalhes-imovel-1 .tipo-imovel
{
    padding-top: 0;
}

.detalhes-imovel-1 .tipo-imovel h1
{
    font-weight: bolder;
    margin-bottom: 20px;
}

.detalhes-imovel-1 .descricao
{
    margin-top: 13px;
    font-size: 1.2rem;
    margin-bottom: 13px;
}

.detalhes-imovel-1 .infra-imovel
{
    margin-bottom: 22px;
}

.detalhes-imovel-1 .descricao-imovel .titulo-descicao small
{
    font-size: 1.4rem;
    font-style: italic;
    font-weight: normal;
    color: rgba(101, 101, 101, 0.75);
    text-align: right;
    float: right;
    line-height: 3;
}

.detalhes-imovel-1 .descricao-imovel .valor-imovel
{
    margin-top: 18px;
}

.detalhes-imovel-1 .descricao-imovel .agendar-visita button i
{
    margin-right: 16px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .detalhes-imovel-1 .tipo-imovel h1
    {
        font-size: 2rem;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .detalhes-imovel-1
    {
        margin-top: 20px;
    }

    .detalhes-imovel-1 .infra-imovel .fa
    {
        text-align: center;
        margin-right: 7px;
        font-size: 16px;
        padding: 10px;
        margin-bottom: 11px;
    }

    .detalhes-imovel-1 .infra-imovel .fa:last-child span
    {
        padding-left: 7px;
    }

    .detalhes-imovel-1 .descricao-imovel .titulo-descicao
    {
        font-size: 2.0rem;
    }

    .detalhes-imovel-1 .descricao-imovel .valor-imovel span
    {
        font-size: 2.6rem;
    }

    .detalhes-imovel-1 .descricao-imovel .valor-imovel span small
    {
        vertical-align: inherit;
    }

    .detalhes-imovel-1 .agendar-visita button
    {
        font-size: 1.5rem;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -13px;
    }

    .complementos-imovel-1 .complementos,
    .complementos-imovel-1 .complementos-condominio
    {
        text-align: center;
    }
}

.detalhes-imovel-1 .aviso-login p
{
    font-size: 1.2rem;
}

.detalhes-imovel-1 .aviso-login .btn
{
    border-radius: 0px;
}

.detalhes-imovel-1 .finalidade
{
    background-color: #025a59;
    color: white;
}

.detalhes-imovel-1 .agendar-visita button,
.detalhes-imovel-1 .aviso-login .btn
{
    background-color: #008280;
    border: 0;
    color: white;
}

.detalhes-imovel-1 .tipo-imovel hr
{
    border-top: 2px solid grey!important;
}


.detalhes-imovel-1 .tipo-imovel h3
{
    color: rgba(128, 128, 128, 0.54);
}


.detalhes-imovel-1 .infra-imovel .fa
{
    border: 1px solid #00827F;
    color: #008280;
}

.detalhes-imovel-1 .infra-imovel .fa span
{
    color: black !important;
}

.detalhes-imovel-1 .descricao-imovel .titulo-descicao
{
    color: rgba(156, 156, 156, 0.54);
}


.detalhes-imovel-1 .descricao-imovel .valor-imovel span
{
    color: #024c4b;
}

.detalhes-imovel-1 .descricao-imovel .valor-imovel span small
{
    color: #035453;
}
/* ----- detalhes-complementos-imovel-1 ----- */ .complementos-imovel-1
{
    background-color: #fbf8f8;
    margin-top: 20px;
}

.complementos-imovel-1 .titulo
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 15px;
    color: #000;
}

.complementos-imovel-1 .complementos,
.complementos-imovel-1 .complementos-condominio
{
    color: grey;
    margin-bottom: 22px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .complementos-imovel-1 .complementos-condominio
    {
        margin-top: 35px;
    }
}


.complementos-imovel-1
{
    background-color: #fbf8f8;
    padding-bottom: 25px;
    padding-top: 15px;
}

.complementos-imovel-1 .titulo
{
    color: #000;
}

.complementos-imovel-1 .complementos,
.complementos-imovel-1 .complementos-condominio
{
    color: grey;
}
/* ----- detalhes-media-imovel-1 ----- */ .medias-1
{
    margin-top: 32px;
}

.medias-1 .conteudo-panel
{
    padding-left: 9px;
}

.medias-1 .nav-tabs > li.active > a,
.medias-1 .nav-tabs > li.active > a:hover,
.medias-1 .nav-tabs > li.active > a:focus,
.medias-1 .nav-tabs
{
    border: none;
    font-size: 15px;
    font-style: italic;
    font-family: sans-serif;
}

.medias-1 .nav-tabs li a > i
{
    margin-right: 5px;
}

.medias-1 .margin-foto
{
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 7px;
}
.medias-1 .margin-foto .img
{
    height: 150px;
    background-position: center;
    background-size: cover;
}

.medias-1 .media-conteudo-background
{
    height: 110px;
    background-size: cover;
}

.medias-1 .margin-foto
{
    padding: 0px;
    margin-top: 12px;
    padding-left: 6px;
}

.medias-1 .margin-foto .col-xs-12
{
    margin-left: 91px;
    padding-left: 24px;
}

.img-previa-video
{
    padding-bottom: 13px;
}

.medias-1 .img-previa-video .video-youtube span
{
    color: #008280;
    position: absolute;
    top: 41%;
    left: 45%;
    font-size: 41px;
}

.medias-1 .nav-tabs li > a,
.nav-tabs > li > a:hover
{
    color: #555;
    background-color: transparent;
    border: none;
}
/* ----- sugestao-imoveis-1 ----- */ .sugestoes-1
{
    margin-top: 60px;
}

.sugestoes-1 .container .titulo
{
    font-style: italic;
    font-size: 17px;
    font-weight: 600;
}

.sugestoes-1 .col-md-4
{
    padding-left: 0;
    padding-right: 5px;
}

.sugestoes-1 .col-md-4:last-child
{
    padding-right: 0!important;
}

.sugestoes-1 .sugestao-imovel hr
{
    width: 87px;
    margin-right: 257px;;
    margin-top: 6px;
    margin-bottom: 12px;;
}

.sugestoes-1 .sugestao-imovel .background-sugestao
{
    height: 260px;
    padding-top: 170px;
    text-decoration: none;
}

.sugestoes-1 .sugestao-imovel .background-sugestao:hover {
    -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.sugestoes-1 .sugestao-imovel
{
    background-size: cover;
    margin-top: 30px;
    height: 260px;
}


.sugestoes-1 .sugestao-imovel
{
    color: white;
    text-shadow: 1px 5px 3px #101010;
}

.sugestoes-1 .sugestao-imovel .background-sugestao:hover
{
    background-color: transparent;
}

.sugestoes-1 .sugestao-imovel .background-sugestao
{
    background-color: rgba(0, 0, 0, 0.35);
    color: whitesmoke;
}/* ----- pesquisa-avançada-1 ----- */ .pesquisa-avancada-1 .form-pesquisa-avancada .slider.slider-horizontal .slider-track
{
    height: 4px!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle.min-slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle.max-slider-handle
{
    border: none!important;
    top: 1px;
}
.pesquisa-avancada-1 .form-pesquisa-avancada .filtro-valores
{
    font-size: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .legendas
{
    font-size: 1.5rem;
    color: #615e5e!important;
    font-weight: bold;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-valores
{
    margin-top: 3px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider.slider-horizontal
{
    margin-left: 9px;
    width: 97%;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .valor-minimo
{
    margin-right: 4px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle
{
    height: 12px;
    width: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    width: 100%;
    height: 39px;
    font-size: 18px;
    border: 0;
    font-style: normal;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:active,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:focus,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:hover,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro.dropdown-toggle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default
{
    color: black!important;
    border-radius: 0!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control
{
    color: black!important;
    background-color: transparent;
    border:1px solid rgba(0, 0, 0, 0.22);
    border-radius: 0;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .codigo-imovel
{
    background-color: #e6e6e6!important;
    border: none;
}

.pesquisa-rapida-1 .form-pesquisa-avancada .form-filtro .codigo-imovel::-webkit-input-placeholder { color: black;}
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control::-webkit-input-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control:-moz-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control::-moz-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control:-ms-input-placeholder { color: black; }


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .titulo-pesquisa > hr
{
    border-top: 1px solid #565656;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro label
{
    color: #615e5e!important;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    background-color: #148c89!important;
    color: whitesmoke !important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar:hover {
    background-color: #e6e6e6!important;
    color: #148c89 !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-track
{
    background-image: linear-gradient(to bottom,#a5a5a5 0,#c3c3c3 100%)!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-selection
{
    background-image: linear-gradient(to bottom,#252525 0,#3a3b3c 100%)!important;
}

.pesquisa-avancada-1.form-pesquisa-avancada .form-filtro .slider-handle.max-slider-handle
{
    border-left: solid 1px #FFF;
}

.pesquisa-avancada-1.form-pesquisa-avancada .form-filtro .slider-handle.min-slider-handle
{
    border-right: solid 1px #FFF;
}
/* ----- rodape-2 ----- */ .footer-2
{
    margin-bottom: 8px;
}

.footer-2
{
    margin-top: 40px;
}

.footer-2 .container
{
    padding-top: 50px;
}

.footer-2 .logo-simples
{
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-2 .dados-contato p,
.footer-2 .endereco p
{
    margin-top: 10px;
    font-size: 1.25rem;
}

.footer-2 .facebook
{
    bottom: 25px;
    padding-left: 35px;
}

.footer-2 .dados-contato hr,
.footer-2 .endereco hr
{
    width: 85px;
    margin-right: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-2-direitos-simples span
{
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 11px;
}

.footer-2-direitos-simples span > a > img
{
    height: 15px;
    margin-right: 20px
}

@media(max-width: 768px)
{
    .footer-2
    {
        background: #00837f;
        padding-bottom: 30px;
    }

    .footer-2 .container
    {
        padding-top: 20px;
    }

    .footer-2 img
    {
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-bottom: 10px;
        height: 50px;
    }
}

.footer-2
{
    background: linear-gradient(90deg, #00837f 64%, #9cdcda 10%);
    color: white;
}
