/* ----- menu-4 ----- */
.menu-4,
.menu-4 .menu-rapido
{
    z-index: 2;
}

.menu-4 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-4 .input-group
{
    height: 100%!important;
}

.menu-4 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}

.menu-4 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-4 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}

.menu-4 .menu-items a,
.menu-4 .menu-items a:hover,
.menu-4 .menu-items a:active,
.menu-4 .menu-items a:focus,
.menu-4 .menu-rapido .menu-items a,
.menu-4 .menu-rapido .menu-items a:hover,
.menu-4 .menu-rapido .menu-items a:active,
.menu-4 .menu-rapido .menu-items a:focus
{
    color: white!important;
    background-color: transparent;
    text-decoration: none;
}


.menu-4  .input-group
{
    background-color: #024c4b!important;
}

.menu-4 .input-group-btn button
{
    color: white;
}
.menu-4 .menu
{
    background-color: #008280;
}

.menu-4 .menu-rapido
{
    background-color: #1c3b69;
}

.menu-4 .menu-rapido .menu-items a
{
    padding: 10px;
    font-size: 12px;
}

.menu-4 .menu-rapido .menu-items ul
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-4 .menu-rapido .menu-items li
{
    display: inline;
}

.menu-4 .form-control::-webkit-input-placeholder {color: white;}
.menu-4 .form-control:-moz-placeholder {color: white;}
.menu-4 .form-control::-moz-placeholder {color: white;}
.menu-4 .form-control:-ms-input-placeholder {color: white;}

.menu-4 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}

.menu-4 .menu-items ul li a img.img-imobiliaria
{
    height: 45px;
    margin-right: 15px;
}

.menu-4 .menu-items ul li a.imobiliaria-link-logo
{
    padding: 0px;
}

/* ----- resultado-pesquisa-1 ----- */ .pesquisa-1
{
    margin-top: 120px;
}

.pesquisa-1 .titulo-resultado-pesquisa
{
    font-size: 2.1rem;
    font-style: italic;
}
.pesquisa-1 .titulo-resultado-pesquisa .total-imoveis
{
    font-weight: bold;
}

.pesquisa-1 .filtro-valor
{
    text-align: right;
    font-style: italic;
}

.pesquisa-1 .filtro-valor label
{
    font-size: 1.7rem;
    font-weight: normal;
    margin-right: 4px;
}

.pesquisa-1 .valor-imovel,
.pesquisa-1 .previa-imovel .imovel-tipo
{
    font-weight: bold;
    float: right;
    margin-bottom: 5px;
    font-style: italic;
}

.pesquisa-1 .previa-imovel .detalhes
{
    font-style: normal;
    font-size: 1.3rem;
}

.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.pesquisa-1 .filtro-valor .dropdown-toggle
{
    border-radius: 0!important;
    font-size: 1.2rem;
}

.pesquisa-1 .imoveis-resultado-pesquisa
{
    margin-top: 20px;
}

.pesquisa-1 .previa-imovel
{
    font-style: italic;
    margin-bottom: 4px;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pesquisa-1 .previa-imovel .img-imovel
{
    margin-bottom: 12px;
    height: 200px;
    background-size: cover;
    background-position: center
}

.pesquisa-1 .previa-imovel .img-imovel figure
{
    height: 200px;
    overflow: hidden;
}

.pesquisa-1 .previa-imovel .img-imovel img
{
    width: 100%;
}


.pesquisa-1 .imoveis-resultado-pesquisa .previa-imovel .ribbon
{
    left: 10px;
    top: -5px;
}

.pesquisa-1 .imoveis-resultado-pesquisa .previa-imovel .ribbon.temporada span,
.pesquisa-1 .imoveis-resultado-pesquisa .previa-imovel .ribbon.venda span,
.pesquisa-1 .imoveis-resultado-pesquisa .previa-imovel .ribbon.aluguel span
{
    font-size: 8px;;
    width: 83px;
    top: 13px;
    left: -18px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .pesquisa-1  .previa-imovel .imovel-tipo,
    .pesquisa-1  .previa-imovel .detalhes
    {
        margin-right: 8px;
    }

    .pesquisa-1 .filtro-valor .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
    {
        width: 220px!important;
    }

    .pesquisa-1 .detalhes-imovel
    {
        font-size: 1.2rem;
    }

    .pesquisa-1 .previa-imovel .valor
    {
        font-size: 1.3rem;
        margin-top: 0;
    }
    
    .pesquisa-1 .filtro-valor
    {
         margin-top: 0;
         padding-left: 15px;
         padding-right: 15px;
         font-style: italic;
    }

    .pesquisa-1
    {
        margin-top: 0;
    }
}


.pesquisa-1 .previa-imovel:hover
{
    border: 1px solid rgba(0, 129, 129, 0.34);
}

.pesquisa-1 .linha hr
{
    border-top: 1px solid #5a5959!important;
}


.pesquisa-1 .previa-imovel .imovel-tipo,
.pesquisa-1 .previa-imovel .detalhes,
.pesquisa-1 .previa-imovel .codigo
{
    color: #3e3e3e;
}
.pesquisa-1 .detalhes-imovel
{
    color: black;
}

.pesquisa-1 .previa-imovel .detalhes, .pesquisa-1 .previa-imovel .codigo
{
    font-size: 1.2rem;
    line-height: 21px;
}

.pesquisa-1 .previa-imovel .valor
{
    color: #3e3e3e;
}

.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.pesquisa-1 .filtro-valor .bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.pesquisa-1 .filtro-valor.dropdown-toggle
{
    color: black!important;
}/* ----- pesquisa-avançada-1 ----- */ .pesquisa-avancada-1 .form-pesquisa-avancada .slider.slider-horizontal .slider-track
{
    height: 4px!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle.min-slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle.max-slider-handle
{
    border: none!important;
    top: 1px;
}
.pesquisa-avancada-1 .form-pesquisa-avancada .filtro-valores
{
    font-size: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .legendas
{
    font-size: 1.5rem;
    color: #615e5e!important;
    font-weight: bold;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-valores
{
    margin-top: 3px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider.slider-horizontal
{
    margin-left: 9px;
    width: 97%;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .valor-minimo
{
    margin-right: 4px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle
{
    height: 12px;
    width: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    width: 100%;
    height: 39px;
    font-size: 18px;
    border: 0;
    font-style: normal;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:active,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:focus,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:hover,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro.dropdown-toggle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default
{
    color: black!important;
    border-radius: 0!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control
{
    color: black!important;
    background-color: transparent;
    border:1px solid rgba(0, 0, 0, 0.22);
    border-radius: 0;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .codigo-imovel
{
    background-color: #e6e6e6!important;
    border: none;
}

.pesquisa-rapida-1 .form-pesquisa-avancada .form-filtro .codigo-imovel::-webkit-input-placeholder { color: black;}
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control::-webkit-input-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control:-moz-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control::-moz-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control:-ms-input-placeholder { color: black; }


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .titulo-pesquisa > hr
{
    border-top: 1px solid #565656;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro label
{
    color: #615e5e!important;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    background-color: #148c89!important;
    color: whitesmoke !important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar:hover {
    background-color: #e6e6e6!important;
    color: #148c89 !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-track
{
    background-image: linear-gradient(to bottom,#a5a5a5 0,#c3c3c3 100%)!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-selection
{
    background-image: linear-gradient(to bottom,#252525 0,#3a3b3c 100%)!important;
}

.pesquisa-avancada-1.form-pesquisa-avancada .form-filtro .slider-handle.max-slider-handle
{
    border-left: solid 1px #FFF;
}

.pesquisa-avancada-1.form-pesquisa-avancada .form-filtro .slider-handle.min-slider-handle
{
    border-right: solid 1px #FFF;
}
/* ----- rodape-2 ----- */ .footer-2
{
    margin-bottom: 8px;
}

.footer-2
{
    margin-top: 40px;
}

.footer-2 .container
{
    padding-top: 50px;
}

.footer-2 .logo-simples
{
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-2 .dados-contato p,
.footer-2 .endereco p
{
    margin-top: 10px;
    font-size: 1.25rem;
}

.footer-2 .facebook
{
    bottom: 25px;
    padding-left: 35px;
}

.footer-2 .dados-contato hr,
.footer-2 .endereco hr
{
    width: 85px;
    margin-right: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-2-direitos-simples span
{
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 11px;
}

.footer-2-direitos-simples span > a > img
{
    height: 15px;
    margin-right: 20px
}

@media(max-width: 768px)
{
    .footer-2
    {
        background: #00837f;
        padding-bottom: 30px;
    }

    .footer-2 .container
    {
        padding-top: 20px;
    }

    .footer-2 img
    {
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-bottom: 10px;
        height: 50px;
    }
}

.footer-2
{
    background: linear-gradient(90deg, #00837f 64%, #9cdcda 10%);
    color: white;
}
