body
{
    font-family: 'Open Sans', sans-serif !important;
}

.no-padding-left
{
    padding-left: 0px !important;
}

.no-padding-right
{
    padding-right: 0px !important;
}


/*menu mobile-3*/

.menu-mobile-3 .navbar-brand
{
    margin-bottom: 7px!important;
}

.menu-mobile-3 .logo-imobiliaria
{
    height: 38px;
}

.menu-mobile-3 .navbar-default .navbar-nav > li > a
{
    color: #00837f;
}

.menu-mobile-3 .navbar-default .navbar-toggle .icon-bar
{
    background-color: #807d7d;
}

.menu-4 .menu-items ul li a img.img-imobiliaria
{
    height: 40px;
    margin-right: 20px;
    margin-top: 5px;
}

/*Cores ribbon finaliade*/

.ribbon
{
    position: absolute;
    left: 10px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span
{
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    position: absolute;
    top: 19px;
    left: -21px;
}

.ribbon span::before
{
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
}

.ribbon span::after
{
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
}

.ribbon.temporada span
{
    background-color: #244462;
}

.ribbon.temporada span::after
{

    border-left: 3px solid transparent;
    border-right: 3px solid #244462;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #244462;
}

.ribbon.temporada span::before
{
    border-left: 3px solid #244462;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #244462;
}


.form-pesquisa-banner-1
{
    display: none;
}

.ribbon.aluguel span
{
    background-color: #008280!important;
}

.ribbon.aluguel span::after
{
    border-left: 3px solid transparent;
    border-right: 3px solid #008280;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #008280;
}

.ribbon.aluguel span::before
{
    border-left: 3px solid #008280;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #008280;
}

.ribbon.venda span
{
    background-color: darkgray!important;
}

.ribbon.venda span::before
{
    border-left: 3px solid darkgrey;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid darkgrey;
}

.ribbon.venda span::after
{
    border-left: 3px solid transparent;
    border-right: 3px solid darkgrey;
    border-bottom: 3px solid transparent;
    border-top: 3px solid darkgrey;
}

.ribbon.temporada span,
.ribbon.venda span,
.ribbon.aluguel span,
.ribbon.lancamento span
{
    color: #FFF;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}


.ribbon.lancamento span
{
    background-color: black;
}

.ribbon.lancamento span::after
{

    border-left: 3px solid transparent;
    border-right: 3px solid black;
    border-bottom: 3px solid transparent;
    border-top: 3px solid black;
}

.ribbon.lancamento span::before
{
    border-left: 3px solid black;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid black;
}

/*style modal*/

.modal .modal-content,
.modal .modal-content form .form-control,
.modal .modal-content button,
.modal .modal-content a
{
    border-radius: 0!important;
}

#modal-dados .corretor .dados-corretor
{
    line-height: 15px;
}

#modal-dados .corretor .corretor-foto
{
    height: 110px;
}

#modal-dados .btn-salvar,
#modal-login .btn-login
{
    background-color: #008280;
    border-color: #008280;
}

/*Pesquisa mobile*/

.pesquisa-mobile-1
{
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.pesquisa-mobile-1 .painel-pesquisa-mobile {
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    background-color: transparent;
    z-index:2;
}

.pesquisa-mobile-1 .form-filtro .bootstrap-select>.dropdown-toggle.bs-placeholder,
.pesquisa-mobile-1 .form-filtro .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.pesquisa-mobile-1 .form-filtro .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.pesquisa-mobile-1 .form-filtro .bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.pesquisa-mobile-1 .form-filtro .dropdown-toggle
{
    background-color: transparent!important;
    border-radius: 0!important;
}

.pesquisa-mobile-1 .form-filtro .form-control
{
    background-color: transparent;
    border-radius: 0;
}

.pesquisa-mobile-1 .form-filtro .bootstrap-select>.dropdown-toggle.bs-placeholder,
.pesquisa-mobile-1 .form-filtro .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.pesquisa-mobile-1 .form-filtro .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.pesquisa-mobile-1 .form-filtro .bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.pesquisa-mobile-1 .form-filtro .dropdown-toggle
{
    color: gray!important;
    border: 1px solid #cecece!important;
}

.pesquisa-mobile-1 .form-filtro > .bootstrap-select .dropdown-toggle:focus
{
    border-color: transparent!important;
    border: 1px solid rgb(104, 167, 168)!important;
}

.pesquisa-mobile-1 .form-pesquisa-avancada .form-filtro .slider-track
{
    background-image: linear-gradient(to bottom,#a5a5a5 0,#c3c3c3 100%)!important;
}

.pesquisa-mobile-1 .form-pesquisa-avancada .form-filtro .slider-handle,
.pesquisa-mobile-1 .form-pesquisa-avancada .form-filtro .slider-selection
{
    background-image: linear-gradient(to bottom,#252525 0,#3a3b3c 100%)!important;
}

.pesquisa-mobile-1.form-pesquisa-avancada .form-filtro .slider-handle.max-slider-handle
{
    border-left: solid 1px #FFF;
}

.pesquisa-mobile-1.form-pesquisa-avancada .form-filtro .slider-handle.min-slider-handle
{
    border-right: solid 1px #FFF;
}


.pesquisa-mobile-1 .form-pesquisa-avancada .slider.slider-horizontal .slider-track
{
    height: 4px!important;
}

.pesquisa-mobile-1 .form-pesquisa-avancada .slider-handle.min-slider-handle,
.pesquisa-mobile-1 .form-pesquisa-avancada .slider-handle.max-slider-handle
{
    border: none!important;
    height: 14px;
    width: 15px;
}

.pesquisa-mobile-1 .form-filtro .btn-pesquisar
{
    width: 100%;
    background-color: #148c89;
    color: white;
    border: none;
    padding: 6px;
    font-size: 1.6rem;
}

.pesquisa-mobile-1 .pesquisa-toggle
{
    height: 34px;
    width: 44px;
    padding-top: 6px;
}

.pesquisa-mobile-1 .form-pesquisa-avancada .slider.slider-horizontal
{
    width: 100%;
}


/*cores responsivo*/

@media(min-width:320px) and (max-width: 768px)
{
    /*cores detalhe imovel*/
    .detalhes-imovel-1 .tipo-imovel h1
    {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .footer-2
    {
        background: linear-gradient(90deg, #00837f 52%, #9cdcda 10%);
        color: white;

    }
}
