.menu-desktop
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.menu-4 .menu {
    background-color: #174180;
}

.menu-4 .menu-items a, .menu-4 .menu-items a:hover, .menu-4 .menu-items a:active {
    color: white !important;
}

.banner-2 .background-banner
{
    background-color: rgba(0,0,0,0.25);
}

.menu-4 .menu-items ul li a img.img-imobiliaria
{
    height: 50px;
    margin-right: 20px;
    margin-top: 0px;
}

.pesquisa-rapida-1
{
    margin-top: 40px;
}

.menu-4 .form-control {
    background-color:#2d5990!important;
    border: 1px solid #2d5990!important;
}

.menu-4 .input-group {
    background-color: #2d5990!important;
}

.pesquisa-avancada-1
{
    background-color: #f1f1f1;
    border-bottom: 1px solid #ffe6b8;
    padding-bottom: 40px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-handle, .pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-selection {
    background-image: linear-gradient(to bottom,#ff9e30 0,#ff9e30 100%)!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar:hover {
    background-color: #ff9e30!important;
    color: white!important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    background-color:#174180!important;
}


.condominios-1 .titulo
{
    color:#ff9e30;
}

.condominios-1 hr
{
    border-top: 1px solid #ff9e30;
}

.footer-1 hr
{
    border-top: 1px solid #ff9e30 !important;
}

.destaques-1 .previa-imovel:hover {
    border: 1px solid #ff9e30 ;
}

.detalhes-imovel-1 .aviso-login .btn
{
    background-color: #174180;
}

.detalhes-imovel-1 .agendar-visita button
{
    background-color: #174180;
}

.detalhes-imovel-1 .agendar-visita button
{
    color: white;
}

.detalhes-imovel-1 .aviso-login .btn
{
    color: white;
}

.detalhes-imovel-1 .infra-imovel .fa {
    border: 1px solid #174180;
}

.detalhes-imovel-1 .descricao-imovel .valor-imovel span
{
    color: #174180;
}

.pesquisa-1 .previa-imovel:hover
{
    border: 1px solid #ff9e30;
}

.footer-2
{
    background: #174180;
}


.ribbon.aluguel span
{
    background-color: #ff9e30!important;
}

.ribbon.aluguel span::after
{
    border-left: 3px solid transparent;
    border-right: 3px solid #ff9e30;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #ff9e30;
}

.ribbon.aluguel span::before
{
    border-left: 3px solid #ff9e30;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #ff9e30;
}

.ribbon.lancamento span {
    background-color: #e79343;
}

.ribbon.venda span
{
    background-color: #174180!important;
}

.ribbon.venda span::before
{
    border-left: 3px solid #174180;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #174180;
}

.ribbon.venda span::after
{
    border-left: 3px solid transparent;
    border-right: 3px solid #174180;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #174180;
}

.destaques-imobiliaria-1 .sobre-empresa h3
{
    text-align: left;
}

.lista-condominios-1 .condominios,
.detalhes-imovel-1
{
    margin-top: 100px;
}

.banner-2,
.mapa-1
{
    margin-top: 50px;
}

.detalhes-condominio-1
{
    margin-top: 90px;
}

.detalhes-condominio-1 .nome-condominio span
{
    font-size: 4em;
}

.banner-2,
.banner-2 .banner .item
{
    height: 440px;
}

#pagination
{
    margin-bottom: 30px;
}

.pagina-pesquisa .footer-2
{
     margin-top: 0px;
}

.pagina-imovel-detalhe .sugestoes-1
{
    margin-bottom: 50px;
}