/* ----- menu-4 ----- */
.menu-4,
.menu-4 .menu-rapido
{
    z-index: 2;
}

.menu-4 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-4 .input-group
{
    height: 100%!important;
}

.menu-4 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}

.menu-4 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-4 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}

.menu-4 .menu-items a,
.menu-4 .menu-items a:hover,
.menu-4 .menu-items a:active,
.menu-4 .menu-items a:focus,
.menu-4 .menu-rapido .menu-items a,
.menu-4 .menu-rapido .menu-items a:hover,
.menu-4 .menu-rapido .menu-items a:active,
.menu-4 .menu-rapido .menu-items a:focus
{
    color: white!important;
    background-color: transparent;
    text-decoration: none;
}


.menu-4  .input-group
{
    background-color: #024c4b!important;
}

.menu-4 .input-group-btn button
{
    color: white;
}
.menu-4 .menu
{
    background-color: #008280;
}

.menu-4 .menu-rapido
{
    background-color: #1c3b69;
}

.menu-4 .menu-rapido .menu-items a
{
    padding: 10px;
    font-size: 12px;
}

.menu-4 .menu-rapido .menu-items ul
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-4 .menu-rapido .menu-items li
{
    display: inline;
}

.menu-4 .form-control::-webkit-input-placeholder {color: white;}
.menu-4 .form-control:-moz-placeholder {color: white;}
.menu-4 .form-control::-moz-placeholder {color: white;}
.menu-4 .form-control:-ms-input-placeholder {color: white;}

.menu-4 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}

.menu-4 .menu-items ul li a img.img-imobiliaria
{
    height: 45px;
    margin-right: 15px;
}

.menu-4 .menu-items ul li a.imobiliaria-link-logo
{
    padding: 0px;
}

/* ----- detalhes-condominio-1 ----- */ .detalhes-condominio-1 .detalhes-condominio .fotos-condominio
{
    margin-top: 20px;
}

.detalhes-condominio-1 .detalhes-condominio .imagem-principal > .img
{
    height: 300px;
    background-size: cover;
    background-position: center
}

.detalhes-condominio-1 .nome-condominio
{
    text-align: center;
    margin-bottom: 20px;
}

.detalhes-condominio-1 .nome-condominio span
{
    font-size: 12rem;
    border-bottom: 1px solid black;
}

.detalhes-condominio-1 .detalhes-condominio .fotos-condominio .item .img-condominio .img
{
    height: 100px;
    background-position: center;
    background-size: cover;
}

.detalhes-condominio-1 .valor-imovel, .detalhes-condominio-1 .imoveis-condominio .previa-imovel .imovel-tipo
{
    font-weight: bold;
    float: right;
    margin-bottom: 5px;
    font-style: italic;
    color: black;
}

.detalhes-condominio-1 .imoveis-condominio .previa-imovel
{
    padding-top: 15px;
    padding-bottom: 10px;
    border: solid 1px transparent;
}

.detalhes-condominio-1 .imoveis-condominio .previa-imovel:hover
{
    border-color: rgba(0, 129, 129, 0.34);
}

.detalhes-condominio-1 .imoveis-condominio .previa-imovel .imovel-tipo,
.detalhes-condominio-1 .imoveis-condominio .previa-imovel .detalhes
{
    color: #3e3e3e;
}


.detalhes-condominio-1 .imoveis-condominio .previa-imovel .detalhes
{
    font-size: 1.3rem;
}

.detalhes-condominio-1 .imoveis-condominio .previa-imovel .img-imovel > .img
{
    height: 150px;
    background-size: cover;
    background-position: center;
}


.detalhes-condominio-1 .detalhes-condominio .complementos .complemento
{
    font-size: 1.3rem;
    margin-bottom: 7px;
}

.detalhes-condominio-1 .detalhes-condominio .complementos .complemento .fa
{
    margin-right: 3px;
}

.detalhes-condominio-1 .medias-condominio
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.detalhes-condominio-1 .medias-condominio .nav-tabs > li a
{
    color: #0b0b0b;
    border: none;
}

.detalhes-condominio-1 #galeria-fotos .item .imagem,
.detalhes-condominio-1 #galeria-plantas .item .imagem,
.detalhes-condominio-1 #galeria-videos .item .imagem
{
    height: 130px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.detalhes-condominio-1 #galeria-fotos .item .imagem i,
.detalhes-condominio-1 #galeria-plantas .item .imagem i,
.detalhes-condominio-1 #galeria-videos .item .imagem i
{
    line-height: 130px;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(90, 90, 90);
}

.detalhes-condominio-1 .medias-condominio .nav-tabs > li.active > a,
.detalhes-condominio-1 .medias-condominio .nav-tabs > li.active > a:hover,
.detalhes-condominio-1 .medias-condominio .nav-tabs > li.active > a:focus,
.detalhes-condominio-1 .medias-condominio .nav-tabs > li > a:hover
{
    border: none;
    background-color: rgba(236, 236, 236, 0.65);
}

.detalhes-condominio-1 .medias-condominio .nav-tabs > li > a i
{
    margin-right: 5px;
}

.detalhes-condominio-1 .medias-condominio .nav-tabs
{
    border: none;
    margin-bottom: 5px;
}

@media(min-width:320px) and (max-width: 768px)
{
    .detalhes-condominio-1 .detalhes-condominio .imagem-principal > .img
    {
        height: 200px;
    }

    .detalhes-condominio-1 .imoveis-condominio .previa-imovel .imovel-tipo
    {
        font-size: 1.2rem;
    }

    .detalhes-condominio-1 .imoveis-condominio h4
    {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bolder;
    }

    .detalhes-condominio-1 .nome-condominio span
    {
        font-size: 2.0rem;
    }

    .detalhes-condominio-1 .detalhes-condominio .complementos .complemento
    {
        font-size: 1.0rem;
        margin-bottom: 4px;
    }

    .detalhes-condominio-1 .detalhes-condominio .complementos .complemento .fa
    {
        margin-right: 3px;
    }
}/* ----- rodape-2 ----- */ .footer-2
{
    margin-bottom: 8px;
}

.footer-2
{
    margin-top: 40px;
}

.footer-2 .container
{
    padding-top: 50px;
}

.footer-2 .logo-simples
{
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-2 .dados-contato p,
.footer-2 .endereco p
{
    margin-top: 10px;
    font-size: 1.25rem;
}

.footer-2 .facebook
{
    bottom: 25px;
    padding-left: 35px;
}

.footer-2 .dados-contato hr,
.footer-2 .endereco hr
{
    width: 85px;
    margin-right: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-2-direitos-simples span
{
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 11px;
}

.footer-2-direitos-simples span > a > img
{
    height: 15px;
    margin-right: 20px
}

@media(max-width: 768px)
{
    .footer-2
    {
        background: #00837f;
        padding-bottom: 30px;
    }

    .footer-2 .container
    {
        padding-top: 20px;
    }

    .footer-2 img
    {
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-bottom: 10px;
        height: 50px;
    }
}

.footer-2
{
    background: linear-gradient(90deg, #00837f 64%, #9cdcda 10%);
    color: white;
}
