/* ----- menu-4 ----- */
.menu-4,
.menu-4 .menu-rapido
{
    z-index: 2;
}

.menu-4 .pesquisa-imovel form
{
    padding: 0;
    height: 50px;
}

.menu-4 .input-group
{
    height: 100%!important;
}

.menu-4 .input-group-btn button
{
    height: 100% !important;
    background-color: transparent!important;
    font-size: 19px;
}

.menu-4 .form-control::-webkit-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control::-moz-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }
.menu-4 .form-control:-ms-input-placeholder {font-style: italic; font-size: 11px;  padding-left: 2px;  }

.menu-4 .form-control
{
    background-image: none!important;
    padding-left: 12px!important;;
    height: 100%;
}

.menu-4 .menu-items a,
.menu-4 .menu-items a:hover,
.menu-4 .menu-items a:active,
.menu-4 .menu-items a:focus,
.menu-4 .menu-rapido .menu-items a,
.menu-4 .menu-rapido .menu-items a:hover,
.menu-4 .menu-rapido .menu-items a:active,
.menu-4 .menu-rapido .menu-items a:focus
{
    color: white!important;
    background-color: transparent;
    text-decoration: none;
}


.menu-4  .input-group
{
    background-color: #024c4b!important;
}

.menu-4 .input-group-btn button
{
    color: white;
}
.menu-4 .menu
{
    background-color: #008280;
}

.menu-4 .menu-rapido
{
    background-color: #1c3b69;
}

.menu-4 .menu-rapido .menu-items a
{
    padding: 10px;
    font-size: 12px;
}

.menu-4 .menu-rapido .menu-items ul
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-4 .menu-rapido .menu-items li
{
    display: inline;
}

.menu-4 .form-control::-webkit-input-placeholder {color: white;}
.menu-4 .form-control:-moz-placeholder {color: white;}
.menu-4 .form-control::-moz-placeholder {color: white;}
.menu-4 .form-control:-ms-input-placeholder {color: white;}

.menu-4 .form-control
{
    background-color: #024c4b!important;
    border: 1px solid #024c4b!important;
    color: white!important;
}

.menu-4 .menu-items ul li a img.img-imobiliaria
{
    height: 45px;
    margin-right: 15px;
}

.menu-4 .menu-items ul li a.imobiliaria-link-logo
{
    padding: 0px;
}

/* ----- banner-2 ----- */ .banner-2
                            {
                                height: 500px;
                            }

.banner-2 .banner
{
    height: 500px;
    position: absolute;
}

.banner-2 .banner .item
{
    background-size: cover;
    height:500px;
}

.banner-2 .banner .titulo-banner
{
    margin-top: 150px;
    font-size: 40px!important;
    line-height: 50px;
}

.banner-2 .banner .titulo-banner > span
{
    margin-top: 50px;
}

.banner-2 .banner .titulo-banner small
{
    font-size: 16px;
}

.banner-2 .banner .titulo-banner > .detalhes  span
{
    padding-top: 18px;
    font-size: 20px;
    font-style: italic;
}

.banner-2 .banner .titulo-banner > .detalhes a,
.banner-2 .banner .titulo-banner > .detalhes a:hover,
.banner-2 .banner .titulo-banner > .detalhes a:active
{
    text-decoration: none;
    color: white;
}


.banner-2 .banner .background-banner
{
    height: 100%;
    position: fixed;
}

/*Cores pesquisa*/


.banner-2 .titulo-banner
{
    color: white;
}

.banner-2 .banner .titulo-banner > .detalhes  span
{
    border-top: 1px solid white;
}

.banner-2 .background-banner
{
    background-color: rgba(0, 0, 0, 0.53);
}/* ----- pesquisa-avançada-1 ----- */ .pesquisa-avancada-1 .form-pesquisa-avancada .slider.slider-horizontal .slider-track
                                       {
                                           height: 4px!important;
                                       }

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle.min-slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle.max-slider-handle
{
    border: none!important;
    top: 1px;
}
.pesquisa-avancada-1 .form-pesquisa-avancada .filtro-valores
{
    font-size: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .legendas
{
    font-size: 1.5rem;
    color: #615e5e!important;
    font-weight: bold;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-valores
{
    margin-top: 3px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider.slider-horizontal
{
    margin-left: 9px;
    width: 97%;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .valor-minimo
{
    margin-right: 4px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .slider-handle
{
    height: 12px;
    width: 12px;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    width: 100%;
    height: 39px;
    font-size: 18px;
    border: 0;
    font-style: normal;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:active,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:focus,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select:hover,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro.dropdown-toggle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .bootstrap-select > .btn-default
{
    color: black!important;
    border-radius: 0!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control
{
    color: black!important;
    background-color: transparent;
    border:1px solid rgba(0, 0, 0, 0.22);
    border-radius: 0;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .codigo-imovel
{
    background-color: #e6e6e6!important;
    border: none;
}

.pesquisa-rapida-1 .form-pesquisa-avancada .form-filtro .codigo-imovel::-webkit-input-placeholder { color: black;}
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control::-webkit-input-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control:-moz-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control::-moz-placeholder { color: black; }
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .form-control:-ms-input-placeholder { color: black; }


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .titulo-pesquisa > hr
{
    border-top: 1px solid #565656;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro label
{
    color: #615e5e!important;
}


.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar
{
    background-color: #148c89!important;
    color: whitesmoke !important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .btn-pesquisar:hover {
    background-color: #e6e6e6!important;
    color: #148c89 !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-track
{
    background-image: linear-gradient(to bottom,#a5a5a5 0,#c3c3c3 100%)!important;
}

.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-handle,
.pesquisa-avancada-1 .form-pesquisa-avancada .form-filtro .slider-selection
{
    background-image: linear-gradient(to bottom,#252525 0,#3a3b3c 100%)!important;
}

.pesquisa-avancada-1.form-pesquisa-avancada .form-filtro .slider-handle.max-slider-handle
{
    border-left: solid 1px #FFF;
}

.pesquisa-avancada-1.form-pesquisa-avancada .form-filtro .slider-handle.min-slider-handle
{
    border-right: solid 1px #FFF;
}
/* ----- destaque-1 ----- */ .destaques-1
                             {
                                 text-align: center;
                                 margin-bottom: 35px;
                                 margin-top: 35px;
                             }

.destaques-1 .titulo-destaque
{
    font-size: 27px;
    margin-top: 4px;
    line-height: 2;
    margin-bottom: 18px;
}


.destaques-1 .linha
{
    margin-top: 14px;
}


.destaques-1 .valor-imovel,
.destaques-1 .previa-imovel .imovel-tipo
{
    font-weight: bold;
    float: right;
    margin-bottom: 5px;
    font-style: italic;
}

.destaques-1 .previa-imovel .detalhes
{
    font-style: normal;
}

.destaques-1 .previa-imovel
{
    font-style: italic;
    margin-bottom: 4px;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.destaques-1 .previa-imovel .img-imovel
{
    margin-bottom: 12px;
    height: 200px;
    background-size: cover;
    background-position: center
}

.destaques-1 .linha hr
{
    width: 105px;
}

.destaques-1 .previa-imovel
{
    font-style: italic;
    margin-bottom: 4px;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.destaques-1 .previa-imovel .img-imovel
{
    margin-bottom: 12px;
    height: 200px;
    background-size: cover;
    background-position: center
}

.destaques-1 .previa-imovel .detalhes,
.destaques-1 .previa-imovel .codigo
{
    font-size: 1.2rem;
}


.destaques-1 .previa-imovel .detalhes-imovel
{
    color: #1b1b1b;
}

@media(min-width:320px) and (max-width: 768px)
{
    .destaques-1 .previa-imovel .nome,
    .destaques-1 .previa-imovel .detalhes
    {
        margin-right: 8px;
    }

    .destaques-1 .previa-imovel
    {
        font-style: italic;
        margin-bottom: 4px;
        border: 1px solid transparent;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .destaques-1 .previa-imovel .valor
    {
        font-size: 1.3rem;
        margin-top: 0;
    }
}

/*Cores*/

.destaques-1 .titulo-destaque
{
    color: #888080;
}

.destaques-1 .previa-imovel:hover
{
    border: 1px solid rgba(0, 129, 129, 0.34);
}

.destaques-1 .linha hr
{
    border-top: 1px solid #5a5959!important;
}

.destaques-1 .previa-imovel .nome,
.destaques-1 .previa-imovel .detalhes
{
    color: #3e3e3e;
}

.destaques-1 .previa-imovel .valor
{
    color: #3e3e3e;
}/* ----- condominios-1 ----- */ .condominios-1 .titulo
                                 {
                                     font-size: 26px;
                                     font-weight: 100;
                                 }

.condominios-1 hr
{
    width: 80%;
    float: left;
}

.condominios-1
{
    margin-top: 51px;
}

.condominios-1 .logos-condominio .item
{
    height:200px;
}

.condominios-1 .imagem
{
    height: 200px;
    background-position: center;
    background-size: cover;
}

.condominios-1 .logos-condominio
{
    height:200px;
}


.condominios-1 .logos-condominio{
    margin-top: 60px;
    height: 1px;
}

.condominios-1 .logos-condominio .item img
{
    max-height: 130px;
    width: auto;
}

.condominios-1 .logos-condominio .item
{
    height: 130px;
}

.condominios-1 .logos-condominio .item
{
    padding: 10px 5px;
}

.condominios-1 .owl-carousel .owl-item img
{
    width: auto!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.condominios-1 .logos-condominio .item {
    max-height: 500px;
}

.condominios-1 .owl-carousel .owl-item img
{
    width: 185px!important;
}


@media(min-width:320px) and (max-width: 768px)
{
    .condominios-1 .col-md-9 hr
    {
        width: 204px;
    }

    .condominios-1 .owl-carousel .owl-stage-outer
    {
        width: 100% !important;
    }
}


/*Cores*/

.condominios-1 .titulo
{
    color: #007f83;
}

.condominios-1 hr
{
    border-top: 1px solid #636363;
}/* ----- rodape-2 ----- */ .footer-2
                            {
                                margin-bottom: 8px;
                            }

.footer-2
{
    margin-top: 40px;
}

.footer-2 .container
{
    padding-top: 50px;
}

.footer-2 .logo-simples
{
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-2 .dados-contato p,
.footer-2 .endereco p
{
    margin-top: 10px;
    font-size: 1.25rem;
}

.footer-2 .facebook
{
    bottom: 25px;
    padding-left: 35px;
}

.footer-2 .dados-contato hr,
.footer-2 .endereco hr
{
    width: 85px;
    margin-right: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-2-direitos-simples span
{
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 11px;
}

.footer-2-direitos-simples span > a > img
{
    height: 15px;
    margin-right: 20px
}

@media(max-width: 768px)
{
    .footer-2
    {
        background: #00837f;
        padding-bottom: 30px;
    }

    .footer-2 .container
    {
        padding-top: 20px;
    }

    .footer-2 img
    {
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-bottom: 10px;
        height: 50px;
    }
}

.footer-2
{
    background: linear-gradient(90deg, #00837f 64%, #9cdcda 10%);
    color: white;
}
